.board {
  max-width: 800px;
  width: 100%;

  &-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .new-game-cont {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    
  }
}